
.main_content_left_tab {
    border: 1px solid rgb(234, 234, 234);
    padding: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.content input {
    width: 200px;
}
.main_content_left {
    height: 132px;
}
.main_content_left {
    width: 300px;
}
.main_content_right {
    width: 1000px;
}
.main_content_right {
    display: block;
}
.active {
    background-color: rgb(94, 94, 94);
    color: white;
}
.main_content_right_title {
    font-size: 22px;
    margin-top: 30px;
    margin-left: 30px;
}
main {
    display: block;
    min-height: 450px;
}