.modal_create_model {
    width: 400px;
    min-height: 400px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.modal_create_model input {
    width: 100%;
    margin-top: 15px;
}

.modal_edit_model {
    width: 400px;
    min-height: 400px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.modal_edit_model input {
    width: 100%;
    margin-top: 15px;
}
.modal_title {
    margin-top: 15px;
    font-size: 20px;
}
.parameters_block button {
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 300;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(161, 128, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_form {
    width: 300px;
}
.modal_form input:last-child {
    border: none;
    background: rgb(0, 117, 0);
    color: white;
    height: 50px;
    border-radius: 5px;
}
.edit_form {
    width: 300px;
}


.hide {
    display: none;
}