<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/control.css">
    <link rel="stylesheet" href="../css/models.css">
</head>
<body>
    <div class="nav">
        <div class="nav_title">Панель управления</div>
        <div class="menu">
            <div class="menu_item"><a href="/admin/control">Товары</a></div>
            <div class="menu_item"><a href="/admin/control/models">Модели</a></div>
            <div class="menu_item"><a href="/admin/control/users">Пользователи</a></div>
            <div class="menu_item"><a href="/admin/control/#">Заказы</a></div>
        </div>
    </div>
    <div class="content">
        <div class="content_title">
            Управление моделями
        </div>
        <div class="content_header">
            <div class="content_header_sort_block">
                Сортировать по <select>
                    <option value="">названию</option>
                    <option value="">названию</option>
                    <option value="">производителю</option>
                    <option value="">производителю</option>
                </select>
            </div>
            <div class="content_header_search_block">
                <div class="search_block_wrapper">
                    <input type="text">
                    <img src="images/search.png" alt="">
                </div>
                <button>Найти</button>
            </div>
            <div class="content_header_btn">
                <button class="open_modal">
                    Создать модель
                </button>
            </div>
        </div>
        <div class="content_main">
            
        </div>
    </div>
    <div class="modal hide">
        <div class="modal_create_model hide">
            <div class="modal_title">Создание модели</div>
            <form name="create_model" class="modal_form">
                <input type="text" placeholder="Производитель" name="producer">
                <input type="text" placeholder="Название модели" name="name_model">
                <div class="parameters_block">
                    <input type="text" placeholder="Параметр" name="parameter">
                    <input type="text" placeholder="Значение" name="parameter_value">
                    <button class="add_parameter_btn">+</button>
                </div>
                <input type="file" name="filedata" >
                <input type="submit" name="submit">
            </form>
        </div>
        <div class="modal_edit_model hide">
            <div class="modal_title">Изменение модели</div>
            <form name="edit_model" class="edit_form">
                <input type="text" name="id" disabled>
                <input type="text" placeholder="Производитель" name="producer" required>
                <input type="text" placeholder="Название модели" name="name_model" required>
                <div class="parameters_block_edit">
                </div>
                <input type="submit" name="submit">
            </form>
        </div>
    </div>
    <script src="../js/models.js"></script>
</body>
</html>