<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НаСвязи</title>
    <link rel="icon" href="images/link.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <header>
        <div class="header_menu">
            <div class="header_menu_nav">
                <div class="header_menu_nav_item"><a href="">Купить</a></div>
                <div class="header_menu_nav_item"><a href="">Наши магазины</a></div>
                <div class="header_menu_nav_item"><a href="">Доставка</a></div>
                <div class="header_menu_nav_item"><a href="">Возврат, гарантия</a></div>
                <div class="header_menu_nav_item"><a href="">О нас</a></div>
            </div>
            <div class="header_menu_contact">
                <a href="tel:+79510688022">+7-951-068-80-22 (с 09:00 до 21:00)</a>
            </div>
        </div>
        <div class="subheader">
            <div class="subheader_logo">
                <a href="/">На Связи</a> </div>
            <div class="subheader_catalog">
                <button class="open_catalog">
                    <div class="strip_wrapper">
                        <div class="strip"></div>
                        <div class="strip"></div>
                        <div class="strip"></div>
                    </div>
                    КАТАЛОГ
                </button>
            </div>
            <div class="subheader_search">
                <div class="subheader_search_wrapper">
                    <input type="text" class="search_input" placeholder="iPhone 14 Pro Max">
                    <img src="images/search.png" alt="search" class="search_btn">
                </div>
            </div>
            <div class="subheader_lk">
                <button class="login_btn">
                    
                </button>
            </div>

            <div class="subheader_basket">
                <button class="basket">
                    Корзина
                </button>
                <div class="basket_length"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="main_block">
            <div class="main_title">Мой профиль</div>
            
        </div>

        <div class="main_block_catalog hide">
            <div class="main_block_catalog_row">
                <div class="main_block_catalog_item smartphones">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/220/150/9f26b0d282cde81efb95d2a4b21b7f44/e135e9e6c4903d49547578f57b15b674024b46ff9d0e74bea64556e46b0e7c42.jpg" alt="">
                    <div class="main_block_catalog_item_name">Смартфоны</div>
                </div>
                <div class="main_block_catalog_item watches">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/220/150/be000d189f0f7e16f36fe9e199b78f0f/756a339223a17cd6a9e4b3e08d64343cd19abb36947f6abef138a1989255c071.jpg" alt="">
                    <div class="main_block_catalog_item_name">Смарт-часы и браслеты</div>
                </div>
                <div class="main_block_catalog_item accessories">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/220/150/ed55de43eabaf403302a3be59ba51aa2/94eec62f5618898c360be1208a235c96043086c043db5ce21441f5eb652a00a0.png" alt="">
                    <div class="main_block_catalog_item_name">Защита и поддержка для смартфонов</div>
                </div>
                <div class="main_block_catalog_item rechargers">
                    <img src="https://c.dns-shop.ru/thumb/st1/fit/220/150/9fb0bfa30832dea9b5481e92a3aee1f4/5e6831c537b1bedb74b4ec1d4d384e42ebfc219350663e1226d26df068b3e1de.jpg" alt="">
                    <div class="main_block_catalog_item_name">Зарядка и подключение для смартфонов</div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer_block">
            <div class="footer_block_title">Салон сотовых телефонов На Связи</div>
            <div class="footer_block_content">
                «На Связи – крупнейшая розничная сеть в сегменте высоких технологий. Ключевой фокус работы нашей компании – стать проводником в мир технологий для самой широкой аудитории. Достичь этой цели позволяет собственная платформа онлайн-продаж.

            </div>
        </div>
        <div class="footer_block">
            <div class="footer_block_title">О нас</div>
            <div class="footer_block_content">
                Наш адрес: Казань, Аметьевская Магистраль, 4А.<br>
                Телефон: +7-951-068-80-22<br>Электронная почта: bulat029@yandex.ru
            </div>
        </div>
    </footer>
    <div class="modal hide">
        <div class="modal_authorize hide">
            <div class="modal_authorize_title">
                Авторизация в систему
            </div>
            <form name="login_form" class="login_form">
                <label for="">Логин</label>
                <input type="text" name="username">
                <label for="">Пароль</label>
                <input type="text" name="password">
                <input type="submit" name="button">
            </form>
            <div class="modal_authorize_reg">
                Ещё нет аккаунта? <span>Зарегистрируйтесь!</span>
            </div>
        </div>
        <div class="modal_register hide">
            <div class="modal_authorize_title">
                Регистрация
            </div>
            <form name="register_form" class="register_form">
                <label for="">ФИО</label>
                <input type="text" name="name">
                <label for="">Телефон</label>
                <input type="text" name="tel">
                <label for="">Логин</label>
                <input type="text" name="username">
                <label for="">Пароль</label>
                <input type="text" name="password">
                <input type="submit" name="button">
            </form>

        </div>
    </div>
    <script src="../js/profile.js"></script>
</body>
</html>