<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/control.css">
    <link rel="stylesheet" href="../css/models.css">
    <link rel="stylesheet" href="css/users.css">
</head>
<body>
    <div class="nav">
        <div class="nav_title">Панель управления</div>
        <div class="menu">
            <div class="menu_item"><a href="/admin/control">Товары</a></div>
            <div class="menu_item"><a href="/admin/control/models">Модели</a></div>
            <div class="menu_item"><a href="/admin/control/users">Пользователи</a></div>
            <div class="menu_item"><a href="/admin/control/orders">Заказы</a></div>
        </div>
    </div>
    <div class="content">
        <div class="content_title">
            Управление пользователями
        </div>
        <div class="content_header">
            <div class="content_header_sort_block">
                Сортировать по <select class="sortby">
                    <option value="loginup">↑логину</option>
                    <option value="logindown">↓логину</option>
                    <option value="fioup">↑ФИО</option>
                    <option value="fiodown">↓ФИО</option>
                    <option value="roleup">↑роли</option>
                    <option value="roledown">↓роли</option>
                </select>
            </div>
            <div class="content_header_search_block">
                <div class="search_block_wrapper">
                    <input type="text" class="search_input">
                    <img src="images/search.png" alt="">
                </div>
                <button class="btn_search">Найти</button>
            </div>
            <div class="content_header_btn">
                <button class="open_modal">
                    Создать
                </button>
            </div>
        </div>
        <div class="content_main">
            
        </div>
    </div>
    <div class="modal hide">
        <div class="modal_choice_role hide">
            <div class="modal_title">Выберите роль</div>
            <div class="admin modal_choice_role_item">Администратор</div>
            <div class="user modal_choice_role_item">Пользователь</div>
            <div class="manager modal_choice_role_item">Менеджер</div>
        </div>
        <div class="modal_create_user hide">
            <div class="modal_title">Регистрация</div>
            <form name="create_user" class="create_user_form">
                <input type="text" name="username" placeholder="Логин">
                <input type="text" name="password" placeholder="Пароль">
                <input type="text" name="surname" placeholder="Фамилия">
                <input type="text" name="name" placeholder="Имя">
                <input type="text" name="patronymic" placeholder="Отчество">
                <input type="text" name="tel" placeholder="Телефон">
                <input type="submit" name="confirm">
            </form>
        </div>
        <div class="modal_edit_user hide">
            <div class="modal_title">Изменение</div>
            <form name="edit_user" class="create_user_form">
                <input type="text" name="username" placeholder="Логин">
                <input type="text" name="password" placeholder="Пароль">
                <input type="text" name="surname" placeholder="Фамилия">
                <input type="text" name="name" placeholder="Имя">
                <input type="text" name="patronymic" placeholder="Отчество">
                <input type="text" name="tel" placeholder="Телефон">
                <input type="submit" name="confirm">
            </form>        
        </div>
    </div>
    <script src="../js/users.js"></script>
</body>
</html>